#myModal{
     display: none;
  }
  .modal{
    width: 50%;
    height: 80%;
    margin: 50px auto;
    background: white;
    border: 3px solid #18bc9c;
    padding: 15px;
    border-radius: 10px;
  }
  h3{
    color: #0f7864;
    font-weight: bold;
  }
  ul{
    margin-bottom: 20px;
  }
  .row{
    margin: 10px 0;
  }

  input{
    border: 1px solid #18bc9c;
    border-radius: 5px;
    padding: 10px;
  }
  label{
    color: #0f7864;
    font-size: 17px;
  }
  .login_button, .register_button{
    background: #18bc9c;
    color: white;
    margin-left: 17px;
    font-weight: bold;
  }

  .tab-pane .remember-me label{
    font-weight: 0;
    font-size: 14px;
    margin-left: 10px;
  }
  .remember-me{
    margin-left: 17px;
  }

  input[type="checkbox"]:focus, input:focus, textarea:focus {
    outline: 0;
    outline-offset: 0;
}

@media (max-width: 991px) {
    .modal {
        width: 100%;
        margin: 0;
        border: none;
        height: 100%;
    }}

