.fa-chevron-left, .fa-chevron-right {
	left: 50%;
    margin-left: -10px;
    display: block;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
 }
 .item img {
	max-height: 500px;
	width: auto;
	margin: 0 auto;
}

.delete-photo, .main-photo{
	color: black;
}
.delete-photo{
	position: absolute;
	left: 80%;
	bottom: 15px;
	font-size: 35px;
  z-index: 1;
}
.main-photo{
	position: absolute;
	left: 80%;
	bottom: 65px;
	font-size: 30px;
  z-index: 1;
}

.main-photo:hover, .delete-photo:hover{
	color: black;
}
.modal .close{
	z-index: 1;
	position: absolute;
	top: 10px;
	left: 95%;
  color: red;
  font-size: 30px;
}
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
@media (min-width: 991px){ 
div a.main-photo:hover::after { 
  content: "Set as main photo?"; 
  font-size: 14px;
  position: relative;
  bottom: 30px;
  right: 70px;
}


