.navbar-brand {
    font-family: 'Parisienne', cursive;
    font-size: 30px;
    padding: 15px;
}

ul li {
    font-size: 17px;
}

.best-day {
    color: white;
    background-color: #18bc9c;
}

.great-day {
    color: white;
    background-color: #1cdbb5;
}

.normal-day {
    color: black;
    background-color: lightgrey;
}

.auful-day {
    color: white;
    background-color: #ffcb78;
}

.footer {
    position: fixed;
    /* Фиксированное положение */
    bottom: 0;
    width: 84%;
    padding: 10px;
    /* Поля вокруг текста */
    color: #0f7864;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    border-top: 2px solid #18bc9c;
}

.period-buttons {
    text-align: center;
    font-size: 18px;
    bottom: 70px;
}

@media (max-width: 991px) {
    .period-buttons  {
        position: static;
        margin: 15px 20px;
    }
    .footer {
        position: static;
        width: 100%;
    }
}
